
.brand-section{
    font-family: "inter";
    margin:90px 0;

}

.brand-section h2{

    font-size:38px;

    margin-bottom:35px;

}

.brand-grid{

    display:grid;

    grid-template-columns:repeat(6,1fr);

}

.brand-card{

    height:130px;

    border:1px solid #ececec;

    display:flex;

    justify-content:center;
    align-items:center;

    cursor:pointer;

    transition:.35s;

    background:#fff;

}

.brand-card:hover{

    background:#fafafa;

    transform:translateY(-6px);

    box-shadow:0 10px 30px rgba(255, 123, 0, 0.192);

}

.brand-card img{

    width:120px;

    object-fit:contain;

    transition:.35s;

}

.brand-card:hover img{

    transform:scale(1.08);

}

@media(max-width:1100px){

.brand-grid{

grid-template-columns:repeat(4,1fr);

}

}

@media(max-width:768px){

.brand-grid{

grid-template-columns:repeat(3,1fr);

}

}

@media(max-width:550px){

.brand-grid{

grid-template-columns:repeat(2,1fr);

}

}