* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  --dark-yellow: #ffbb38;
  --light-yellow: #f4c400;
  --toastify-color-success: var(--dark-yellow);
  --toastify-color-progress-success: var(--dark-yellow);
  --toastify-icon-color-success: var(--dark-yellow);
}

body {
  font-family: "Inter", sans-serif;
  background: #ffffff;
  color: #111827;
  overflow-x: hidden;
}
